@import url('https://fonts.googleapis.com/css?family=Roboto');



/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: black;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

#deleteBTN,
#editBTN
{
  background-color: blue;
  width: 100px;
}

#clear,
#submit
{
  background-color: blue;
  width: 650px;
}

h5{
  font: bold;
  text-align: center
  
}

.timeTbl {
  border: 3px solid lightblue;
}

#invBtn {
  width: 100%;
  color: white;
  background-color: #003699;
  margin-right: 5000px
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  margin-top: 60px;
}

h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#navTime{
  font-family: 'Indie Flower', cursive;
}